

 .maincontents{
    display: flex;
    justify-content: space-around; 
}

 .header-logo{
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
 }
 .user-account{
    display: flex;
    margin-left: 160vh;
    justify-content: space-around;
 }
 .login{
    color: white;
    background-color: transparent;
    border: white;
    /* font-size: 15px; */
    font-weight: 600;
    font-style: normal;
    margin-top: 5px
   
 }
.sigup{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    font-size: 15px;
    /* font-style: normal; */
    margin-top: 8px;
    padding: -5;
    margin: 5px;
}